@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-sm-8">
            <p>The modern Japanese writing system consists mainly of Hiragana, Katakana, and Kanji. Hiragana and Katakana are both syllable based phonetic systems called kana. Kanji is a logographic system of writing and is remarkably like Chinese characters, though pronunciation of the characters are quite different between Japanese and Chinese. All three writing systems are combined to form the Japanese writing system.</p>
            <p>Lander's Japanese Study System was created to help me build vocabulary, to understand and pronounce Kana, to understand Japanese grammatical structure, and to challenge myself to build an English to Japanese translation program.</p>
        </div>
        <div class="col-sm-4"></div>

    </div>
