.navbar .login-btn {
    position: absolute;
    top: 0px;
    right: 15px;
}

@media (max-width: 767px) {
    .navbar .login-btn {
        right: 75px;
    }
}


#kanaquizdisplay {

    font-size: 64px;
    text-align: center;
    
}

#fg1 {

    
}

.audio-button img {
    padding: 30px;
}

.account {
    display: block;
    text-indent: -9999px;
    width: 30px;
    height: 30px;
    background: url(/assets/bi/person-circle.svg);
    background-size: 30px 30px;
}


/*background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23333' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z' clip-rule='evenodd'/></svg>");*/
/* Provide sufficient contrast against white background */
#Japanese {
    white-space: pre-wrap;
}

#edit {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
#view {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

#delete {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
#create {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}
.audioicon {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  height: 100%;

}

.fullheight {
    height: 100%;
    border-radius: 10px;
}

#rcorners1 {
    border-radius: 25px;



}

.maincontent {

 

}
.footer {

    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */


}


