
@model IEnumerable<LJSS.Models.Kana>
@{
    ViewData["Title"] = "Kana Quiz - Katakana";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script>
    function playtheaudio(aID) {
        var path = "\\assets\\sounds\\kana\\"
        var snd = new Audio(path + aID + ".mp3");
        snd.play();
    }
</script>


<div class="row">
    <div class="col-sm-6"><h4>KANA QUIZ - KATAKANA</h4></div>
</div>
