
@model IEnumerable<LJSS.Models.Kana>
@{
    ViewData["Title"] = "Kana Quiz - Hiragana";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script>
    function playtheaudio(aID) {
        var path = "\\assets\\sounds\\kana\\"
        var snd = new Audio(path + aID + ".mp3");
        snd.play();
    }
</script>


<div class="row">
    <div class="col-sm-6"><h4>KANA QUIZ - HIRAGANA</h4></div>
</div>

<div class="jumbotron">
    <h1 id="kanaquizhh" class="display-3">ひらがな - HIRAGANA</h1>
    
    <hr class="my-4">
 
    <p class="lead">
        <a id="kanaquizhbtn" class="btn btn-primary btn-lg" href="#" role="button">Begin Quiz</a>
    </p>
</div>
